@model PagedList.IPagedList<ShopNuocHoa_Online.Models.SanPham>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="form-group" style="margin-top:50px; margin-bottom:20px;">
    @using (Html.BeginForm())
    {
    <div class="col-md-4">
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @placeholder = "Tìm kiếm theo tên hoặc nhãn hiệu", @class = "form-control" })
        <button type="submit">Tìm</button>
    </div>
    }
</div>
<div class="col-md-12" style="float:left;">
    <h2>Sản phẩm</h2>
    <p>
        @Html.ActionLink("Tạo mới", "Create")
    </p>
</div>

<table class="table">
    <tr>
        <th>
            Ảnh
        </th>
        <th>
            Tên danh mục
        </th>
        <th>
            @Html.ActionLink("Tên sản phẩm", "Index", new { sortOder = ViewBag.SapTheoTen })
        </th>
        <th>
            Nhãn hiệu
        </th>
        <th>
            @Html.ActionLink("Giá", "Index", new { sortOder = ViewBag.SapTheoGia })
        </th>
        <th>
            Xuất xứ
        </th>
        <th>
            @Html.ActionLink("Thời gian phát hành", "Index", new { sortOder = ViewBag.SapTheoNgay })
        </th>
        <th>
            Màu sắc
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @{
                    string ImagePath = "~/wwwroot/Images/" + item.Anh;
            }
            <img src="@Url.Content(ImagePath)" height="200" width="300" class="img-thumbnail" />
            @Html.DisplayFor(modelItem => item.Anh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DanhMuc.TenDM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhanHieu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.XuatXu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TgPhatHanh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MauSac)
        </td>
        <td>
            @Html.ActionLink("Cập nhật", "Edit", new { id = item.MaSP }) |
            @Html.ActionLink("Chi tiết", "Details", new { id = item.MaSP }) |
            @Html.ActionLink("Xoá", "Delete", new { id = item.MaSP })
        </td>
    </tr>
    }
</table>
<br />
Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))