@model IEnumerable<ShopNuocHoa_Online.Models.ChiTietDH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết đơn hàng</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DonHang.DiaChiGH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SanPham.TenSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuongBan)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DonHang.DiaChiGH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SanPham.TenSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuongBan)
        </td>
        <td>
            @Html.ActionLink("Chi tiết", "Details", new {id = item.MaDH, idsp = item.MaSP })
        </td>
    </tr>
}
</table>